  @import "../../styles/variaveis";

.populares {
  display: flex;
  background: linear-gradient(to right, $rosa, $azul-claro) border-box;
  flex-direction: column;
  font-family: $fonte-normal;
  transition: 0.1s;

  img {
      font-family: $fonte-normal;
      border: 2px solid transparent;
      flex-direction: column;
      background: linear-gradient(to right, $rosa, $azul-claro) border-box;
      color: $roxo;
      transition: 0.1s;
      font-family: $fonte-normal;
      flex-direction: column;
  }
  
  &__imagens {
    background: linear-gradient(to right, $rosa, $azul-claro) border-box;
      -webkit-mask-composite: xor;
    font-family: $fonte-normal;
    border: 2px solid transparent;
    flex-direction: column;
      linear-gradient(#fff 0 0);
    background: linear-gradient(to right, $rosa, $azul-claro) border-box;
    justify-content: flex-start;
  }

  &:hover {
      color: $cor-do-texto;
      background: linear-gradient(to right, $rosa, $azul-claro) border-box;
        -webkit-mask-composite: xor;
      flex-direction: column;
      font-family: $fonte-normal;
      display: flex;
      color: $roxo;
    }

  button {
    color: $cor-do-texto;
    font-family: $fonte-normal;
    background: linear-gradient(to right, $rosa, $azul-claro) border-box;
    border: 2px solid transparent;
    linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
    justify-content: space-between;
    flex-direction: column;
    font-family: $fonte-normal;
    color: $roxo;
    border: 2px solid transparent;
    background: linear-gradient(to right, $rosa, $azul-claro) border-box;
      -webkit-mask-composite: xor;

    &::before {
      background: linear-gradient(to right, $rosa, $azul-claro) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      background: linear-gradient(to right, $rosa, $roxo) border-box;
      border: 2px solid transparent;
      background: linear-gradient(to right, $rosa, $azul-claro) border-box;
      font-family: $fonte-normal;
      justify-content: flex-start;
      flex-direction: column;
      border: 2px solid transparent;
        -webkit-mask-composite: xor;
      width: 150px;
      background: linear-gradient(to right, $rosa, $azul-claro) border-box;
    }
  }
}
