@import "../../styles/variaveis";

.populares {
  display: flex;
  background: linear-gradient(to right, $rosa, $azul-claro) border-box;
  inset: 0;
  z-index: -1;
  flex-direction: column;
  color: $roxo;
  position: absolute;
  transition: 0.1s;
  padding: 0;
  inset: 0;
  font-family: $fonte-normal;
  font-size: 16px;

  img {
      width: 150px;
      transition: 0.1s;
      height: 77%;
      content: "";
      color: $roxo;
      border: 2px solid transparent;
      flex-direction: column;
      font-family: $fonte-normal;
      background: linear-gradient(to right, $rosa, $azul-claro) border-box;
      z-index: -1;
      position: absolute;
      height: 77%;
  }
  
  &__imagens {
    display: flex;
    position: absolute;
    font-family: $fonte-normal;
    transition: 0.1s;
    color: $roxo;
    background: linear-gradient(to right, $rosa, $azul-claro) border-box;
    padding: 0;
    inset: 0;
    z-index: -1;
    justify-content: flex-start;
    color: $roxo;
    padding: 0;
  }

  &:hover {
      z-index: -1;
      color: $roxo;
      content: "";
      transition: 0.1s;
      padding: 0;
      height: 77%;
      font-family: $fonte-normal;
      font-size: 16px;
      position: absolute;
      align-items: center;
      color: $cor-do-texto;
      width: 100%;
      cursor: pointer;
    }

  button {
    color: $cor-do-texto;
    margin-top: 1.5rem;
    border: 2px solid transparent;
    z-index: -1;
    mask-composite: exclude;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: 0.1s;
    justify-content: flex-start;
    -webkit-mask-composite: xor;
    position: absolute;
    font-family: $fonte-normal;
    inset: 0;
    margin-top: 1.5rem;
    border: 2px solid transparent;
    font-size: 16px;
    background: linear-gradient(to right, $rosa, $azul-claro) border-box;
    content: "";

    &::before {
      color: $cor-do-texto;
      width: 100%;
      cursor: pointer;
      font-family: $fonte-normal;
      inset: 0;flex-direction: column;
      color: $roxo;
      position: absolute;
      align-items: center;
      z-index: -1;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 12px 16px;
      cursor: pointer;
      background: linear-gradient(to right, $rosa, $roxo) border-box;
      transition: 0.1s;
      border: 2px solid transparent;
      content: "";
      justify-content: flex-start;
      -webkit-mask-composite: xor;
      margin-top: 1.5rem;
      height: 77%;
    }
  }
}
